{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}




<div class="col-md-12">
                            <div class="card card-plain table-plain-bg">
                                <div class="card-header ">
                                    <h4 class="card-title">Liste des produits</h4>
                                    
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                <a class="btn btn-info btn-fill pull-right mr-3" href="{{ path('produitAdd')}}">Ajouter un produit</a>
                                    <table class="table table-hover">
                                        <thead>
                                            <th>ID</th>
                                            <th>Nom</th>
                                            <th>PrixUnitaire</th>
                                            
                                            
                                        </thead>
                                        <tbody>
                                            {% for produit in produits %}
                                            <tr>
                                                <td>{{produit.getId}}</td>
                                                <td>{{produit.getNomProduit}}</td>
                                                <td>{{produit.getPrixUnitaire}}</td>
                                                <td><a href="{{path('produitEdit',{'id' : produit.getId} ) }}"> <i class="nc-icon nc-settings-tool-66 alert alert-primary"></i></a></td>
                                                <td><a data-id="{{produit.getId}}" class="removable"> <i class="nc-icon nc-simple-remove alert alert-danger"></i></a></td>
                                                
                                                
                                            </tr>
                               
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                </div>
                               
                            </div>
                           
</div>
                   <script src="{{asset('/assets/js/produitFunctions.js')}}"></script> 
{% endblock %}
